<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="card">
    <div class="card-header card-header-tabs card-header-primary">
      <h4 class="card-title">Comments</h4>
    </div>
    <div class="card-body comments">
      <div class="comment-holder">
        <% resource.comments.each do |comment| %>
          <div class="card">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 card-header">
                <%= image_tag "faces/marc.jpg", height: 50, width: 50, class: "rounded pull-left" %>
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div>
                        <span class="font-weight-bold"><%= comment.user.username %></span>
                        <% if authenticate_user(comment) %>
                          <span class="menu" data-toggle="dropdown"></span>
                          <div class="dropdown-menu">
                            <%= link_to "#", { class: "dropdown-item edit", id:"activator-#{comment.id}" }  do %>
                              <i class="material-icons">edit</i>
                              Edit Comment
                            <% end %>
                            <%= link_to project_comment_path(resource, comment), { class: "dropdown-item", method: :delete } do %>
                              <i class="material-icons">delete</i>
                              Delete Comment
                            <% end %>
                          </div>
                        <% end %>
                        <span class="pull-right"><%= comment.created_at.localtime.to_date %></span>
                      </div>
                      <div>
                        <span><%= best_in_place_if authenticate_user(comment), [resource, comment], :body, as: :textarea, inner_class: "form-control", activator: "#activator-#{comment.id}" %></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= render 'comments/form', project: @project, comment: @project.comments.build %>
    </div>
  </div>
</div>
