<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <div class="card">
    <div class="card-header card-header-tabs card-header-primary">
      <h4 class="card-title">Time Logs
        <a class="pull-right" href="#" data-toggle="modal" data-target="#TimeLogModal">
          <i class="material-icons">add</i>
        </a>
      </h4>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover time_logs">
        <thead class="text-primary">
          <th>By</th>
          <th>Hours</th>
        </thead>
        <tbody>
          <% project.time_logs.each do |time_log| %>
            <tr>
              <td>
                <%= time_log.user.username %>
              </td>
              <td>
                <div class="dropdown">
                  <%= best_in_place_if authenticate_user(time_log), [project, time_log], :hours, as: :input, html_attrs: { type: :number }, aria: { haspopup:"true", expanded: "false" }, data: { toggle: "dropdown" }, inner_class: "form-control", class: "btn btn-primary btn-link btn-sm", activator: "#activator-#{time_log.id}" %>
                  <div class="dropdown-menu dropdown-menu-right">
                    <%= link_to "#", { class: "dropdown-item", id:"activator-#{time_log.id}" } do %>
                      <i class="material-icons">edit</i>
                      Edit Log
                    <% end %>
                    <%= link_to project_time_log_path(project, time_log), { class: "dropdown-item", method: :delete } do %>
                      <i class="material-icons">delete</i>
                      Delete Log
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="modal" id="TimeLogModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add TimeLog</h4>
            <button type="button" class="close btn btn-link" data-dismiss="modal">
              <i class="material-icons">close</i>
            </button>
          </div>

          <div class="modal-body">
            <%= render 'time_logs/form', project: project, time_log: project.time_logs.build %>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-12 errors"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
