<%= form_for [:admin, @user] do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="<%= error_class @user, :username %>">
        <%= f.label :username, class: "bmd-label-floating" %>
        <%= f.text_field :username, class: "form-control" %>
        <%= errors_div @user, :username %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="<%= error_class @user, :email %>">
        <%= f.label :email, class: "bmd-label-floating" %>
        <%= f.email_field :email, class: "form-control" %>
        <%= errors_div @user, :email %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="<%= error_class @user, :password %>">
        <%= f.label :password, class: "bmd-label-floating" %>
        <%= f.password_field :password, class: "form-control" %>
        <%= errors_div @user, :password %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="<%= error_class @user, :password_confirmation %>">
        <%= f.label :password_confirmation, class: "bmd-label-floating" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
        <%= errors_div @user, :password_confirmation %>
      </div>
    </div>
  </div>

  <div class="form-check">
    <%= f.label :active, class: "form-check-label" do %>
      <%= f.check_box :active, class: "form-check-input" %>
      <span class="form-check-sign">
      <span class="check"></span>
      </span>
        Active
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class='form-group'>
        <%= f.label :role, class: "bmd-label-floating" %>
        <%= f.select :role, roles_list, {}, { class: "form-control" } %>
      </div>
    </div>
  </div>

  <% @user.build_attachment if @user.new_record? %>

  <%= f.fields_for :attachment do |picture| %>
    <div class="row">
      <div class="col-md-12">
        <div class="<%= attachment_error_class @user, [:attachment, :"attachment.avatar_content_type", :"attachment.avatar"] %>">
          <%= picture.label :avatar, class: "bmd-label-floating" %>
          <%= picture.file_field :avatar, class: "form-control" %>
          <%= attachment_errors_div @user, [:attachment, :"attachment.avatar_content_type", :"attachment.avatar"] %>
        </div>
      </div>
    </div>
  <% end %>

  <%= f.submit class: "btn btn-primary col-md-12" %>

  <div class="link">
    <%= link_to 'Back', admin_users_path %>
  </div>
<% end %>
